@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}

:root {
  --black: hsl(0, 0%, 7%);
  --grey: hsl(0, 0%, 50%);
  --white: hsl(0, 0%, 100%);
  --yellow: hsl(47, 88%, 63%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  background-color: var(--yellow);
  color: var(--black);
  font-family: FigTree, sans-serif;
  height: 100vh;
  margin: 0;
  text-align: left;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.card {
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 var(--black);
  margin: auto;
  padding: 2.4rem;
  width: clamp(32.7rem, 87vw, 38.4rem);
}

.article-image {
  border-radius: 10px;
  display: block; /* removes space below image */
  height: 20rem;
  margin: 0 0 2.4rem;
  max-width: 100%;
}

.content {
  margin: 2.4rem 0;
}

.category {
  background-color: var(--yellow);
  border-radius: 4px;
  font-size: clamp(1.2rem, 1.1296rem + 0.1878vw, 1.4rem);
  font-weight: bold;
  margin: 0;
  max-width: 8.2rem;
  padding: 0.6rem 0;
  text-align: center;
}

.date {
  font-size: clamp(1.2rem, 1.1296rem + 0.1878vw, 1.4rem);
  margin: 1.2rem 0 0;
}

.title {
  color: var(--black);
  font-size: clamp(2rem, 1.8592rem + 0.3756vw, 2.4rem);
  font-weight: bold;
  margin: 1.2rem 0;
  text-decoration: none;
}

.title:hover,
.title:active,
.title:focus {
  color: var(--yellow);
  cursor: pointer;
}

.description {
  color: var(--grey);
  font-size: clamp(1.4rem, 1.3296rem + 0.1878vw, 1.6rem);
  margin: 0;
}

.author {
  align-items: center;
  display: flex;
  margin: 2.4rem 0 0;
}

.author-picture {
  margin: 0 1.2rem 0 0;
  max-height: 3.2rem;
}

.author-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.footer {
  bottom: 0;
  font-style: italic;
  width: 100%;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 600px) {
  .card {
    box-shadow: 16px 16px 0 0 var(--black);
  }

  .category {
    padding: 0.7rem 1.2rem;
  }
}
